h2 {
    font-size: 28px;
}

.carrito-container {
    width: 90%;
}

.carrito-vacio {
    text-align:center; 
    font-size:20px;
}

.item-carrito {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-info img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.item-titulo {
    font-weight: bold;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls button {
    background: #d60000;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.total-box {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

#btnFinalizar {
    display: block;
    margin: 30px auto;
    padding: 15px 40px;
    background: #d60000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}