.ticket-container {
    width: 90%;
    max-width: 650px;
    margin: 30px auto;
    background: white;
    padding: 25px;
}

.ticket-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ticket-info {
    font-size: 16px;
    margin-bottom: 20px;
    color: #444;
}

.ticket-producto {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.ticket-producto:last-child {
    border-bottom: none;
}

.ticket-total {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#btnDescargar,
#btnReiniciar {
    display: block;
    width: 220px;
    margin: 25px auto;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#btnDescargar {
    background: #444;
    color: white;
}

#btnReiniciar {
    background: #d60000;
    color: white;
}